/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}  */

.nav-bar {
  margin-top: 2dvb;
  margin-bottom: 2dvb;
  display: flex; 
  justify-content: space-between;
  margin-left: 33%;
  margin-right: 33%;
  background-color: white;
  padding: 10px;
}

.nav-button {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 5px;
  padding: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
}

.container button {
  background-color: black;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.container button:hover {
  background-color: #333;
}

.home-screen-title {
  flex-grow: 2;
  background-color: #d5dbd6;
  padding: 20%;
  color: black;
  text-align: left;
}

.home-screen-events {
  background-color: #d5dbd6;
  flex-grow: 2;
  padding: 12%;
  text-align: left;
}

.side-panel {
  flex-grow: 1;
  background-color: rgb(84, 11, 255);
  color: black;
  text-align: center;
}


.headers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headers p {
  flex: 1;
  text-align: center;
  border: 1px solid #ddd;
  padding: 5px;
}